{% extends 'base.html.twig' %}

{% block title %}Profil de {user.username}{% endblock %}

{% block body %}
<div class="flex flex-col space-y-12">

    <!-- Bloc Profil -->
    <div class="w-4/5 m-auto p-4
        flex flex-col place-items-center space-y-6
        bg-customRed shadow-md rounded-md">

        <div class="flex flex-col place-items-center w-2/3 xs:w-3/4">
            <!-- Image de profil -->
            <div class="">
                <img src="{{ 'https://via.placeholder.com/150' }}" 
                    alt="Photo de profil" 
                    class="rounded-lg h-24 w-24 border bg-bodyColor m-2">
            </div>
            <p class="m-2 text-3xl text-customWhite font-oxanium font-bold text-center">{user.username}</p>
        </div>

        <!-- Infos utilisateur -->
        <div class="text-left">
            <p class="text-xl text-customWhite font-oxanium"><strong>Email :</strong> {user.email}</p>
            <p class="text-xl text-customWhite font-oxanium"><strong>Solde :</strong> {user.solde} €</p>
            <!-- <p class="text-lg text-gray-700"><strong>Rôles :</strong> { user.roles|join(', ') }}</p> -->
        </div>
    </div>

    <!-- Boutons d'actions -->
    <div class="flex flex-col place-items-center w-full space-y-4">

        <a href="{{ path('app_cart') }}" class="
            bg-customRed rounded hover:bg-[#974748] transition duration-150
            text-customWhite text-xl font-oxanium text-center
            w-4/5 py-2">Voir mon Panier</a>

        <a href="" class="
            bg-customRed rounded hover:bg-[#974748] transition duration-150
            text-customWhite text-xl font-oxanium text-center
            w-4/5 py-2">Voir mes articles en vente</a>

        <a href="{{ path('app_home') }}" class="
            bg-customWhite rounded hover:bg-[#494949] transition duration-150
            text-bodyColor text-xl font-oxanium text-center
            w-4/5 py-2"><i class="fa-solid fa-house mr-2"></i>Retour à l'accueil</a>

        <a href="{{ path('app_home') }}" class="
            bg-bodyColor rounded hover:bg-[#974748] transition duration-150 border border-customWhite
            text-customWhite text-lg font-oxanium text-center
            w-4/5 py-2">
            <i class="fa-solid fa-right-to-bracket mr-2"></i>Déconnexion</a>
    </div>

</div>
{% endblock %}
