{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

{% include '_components/_returnButton.html.twig' %}

<!--Connexion-->
<div class="text-center mt-24">
    <p class="text-4xl font-semibold font-oxanium text-customWhite my-3">Connexion</p>

    <form id="login" class="flex flex-col place-items-center">

        <div class="my-3 flex flex-col text-left w-2/3">
            <p class="text-2xl font-oxanium text-customWhite mb-2">Email:</p>
            <input type="email" id="email" class="
                mb-3 h-10
                border-2 focus:border-3 border-customRed focus:outline-none rounded-[5px]
                bg-customWhite font-oxanium text-xl" required>
        </div>

        <div class="my-3 flex flex-col text-left w-2/3">
            <p class="text-2xl font-oxanium text-customWhite mb-2">Mot de passe:</p>
            <input type="password" id="password" class="
                mb-3 h-10
                border-2 focus:border-3 border-customRed focus:outline-none rounded-[5px]
                bg-customWhite font-oxanium text-xl" required>
            <a href="" class="underline text-sm font-oxanium text-right text-customWhite">mot de passe oublié ?</a>
        </div>

        <input type="button" value="Se connecter" class="
            px-4 py-2 my-5 h-1/2 w-2/3
            border-2 border-customWhite rounded-md bg-customRed shadow-md
            text-customWhite text-xl font-semibold font-oxanium">
    </form>

    <p class="font-oxanium text-customWhite">Vous n'avez pas de compte ?</p>
    <a href="{{ path('app_signup') }}" class="font-oxanium text-customWhite underline">Inscrivez-vous</a>
</div>

{% endblock %}
