{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}


<div class="container mx-auto p-6 max-w-md">

    {% include '_components/_returnButton.html.twig' %}

    <!--Connexion-->
    <div class="bg-white shadow-md rounded-lg p-6 mt-6 text-center">
        <p class="text-lg font-semibold">Se connecter</p>

        <form id="login">
            <p class="mt-2 text-lg">Votre Email:</p>
            <input type="text" id="email" class="border border-blue-600 mb-3 rounded-md bg-slate-100" required>

            <p class="mt-2 text-lg">Mot de passe:</p>
            <input type="text" id="password" class="border border-blue-600 mb-3 rounded-md bg-slate-100" required>

            <br/>
            <input type="button" value="Envoyer" class="
                px-4 py-2 my-3
                border rounded-full bg-blue-600 hover:bg-blue-700
                text-white">
        </form>

        <p class="text-base">Vous n'avez pas de compte ?</p>
        <a href="{{ path('app_signup') }}" class="text-base text-blue-600">Inscrivez-vous</a>
    </div>
</div>

{% endblock %}
