<a href="{{ path('app_home') }}" class="flex items-center text-gray-700 hover:text-gray-900">
    <div class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-400">
        <i class="fas fa-arrow-left text-xl"></i>
    </div>
</a>