<div class="
    fixed left-0 top-2 py-4 pr-4 pl-3 xs:hidden
    bg-customRed border-y-3 border-r-3 border-customWhite rounded-r-lg">
    <a href="{{ path('app_home') }}" class="">
        <div class="">
            <i class="fa-solid fa-house text-4xl text-customWhite"></i>
        </div>
    </a>
</div>