<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <title>{% block title %}Mon Site Symfony{% endblock %}</title>

    <!-- Font Awesome pour les icônes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    
</head>
<body class="bg-gray-100 text-gray-900 flex flex-col min-h-screen">

    <!-- Header fixe en haut -->
    <header class="">
    {% include '_components/_navigationMenu.html.twig' %}
    </header>

    <main class="container mx-auto mt-20 flex-grow">
        {% block body %}{% endblock %}
    </main>

    <!-- Footer collé en bas de la page -->
    <footer class="bg-red-900 text-white text-center py-6 mt-8">
        <img src="{{ asset('images/technova.png') }}" alt="TechNova Logo" class="mx-auto w-16">
        <p><i class="fa-solid fa-location-dot"></i> RENNES | <i class="fa-solid fa-phone"></i> 01.02.03.04.05</p>
        <p><i class="fa-solid fa-envelope"></i> <a href="mailto:contact@technova.com" class="underline">contact@technova.com</a></p>
        <img src="{{ asset('images/paypal.png') }}" alt="PayPal" class="mx-auto my-3 w-16">
        <div class="mt-4">
            <a href="" class="text-xs mt-2 underline">Conditions Générales de Vente</a><br>
            <a href="" class="text-xs mt-2 underline">Politique de Confidentialité</a><br>
            <a href="" class="text-xs mt-2 underline">Cookies</a><br>
            <a href="" class="text-xs mt-2 underline">Mentions légales</a>
        </div>
    </footer>

</body>
</html>