<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <title>{% block title %}Mon Site Symfony{% endblock %}</title>

    <!-- Font Awesome pour les icônes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body class="bg-bodyColor text-gray-900 flex flex-col min-h-screen">

    <!-- Header fixe en haut -->
    <header>
        {% include '_components/_navigationMenu.html.twig' %}
    </header>
    
    <main class="container mx-auto mt-20 flex-grow">
        {% block body %}{% endblock %}
    </main>

    <!-- Footer collé en bas de la page -->
    <footer class="bg-gray-800 text-white text-center py-4 mt-10 w-full">
        <p>&copy; {{ "now"|date("Y") }} - Mon Site Symfony</p>
    </footer>

</body>
</html>