{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container mx-auto p-6 max-w-md">

    {% include '_components/_returnButton.html.twig' %}

    <div class="bg-white shadow-md rounded-lg p-6 mt-6 text-center">
        <p class="text-lg font-semibold">Créer un compte</p>

        {% for message in app.flashes('error') %}
            <p class="text-red-500 bg-red-100 border border-red-400 p-3 rounded mt-3">{{ message }}</p>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <p class="text-green-500 bg-green-100 border border-green-400 p-3 rounded mt-3">{{ message }}</p>
        {% endfor %}

        <form action="{{ path('app_signup') }}" method="post">
            <p class="my-2 text-lg">Votre Email:</p>
            <input type="email" name="email" class="border border-blue-600 mb-3 w-full p-2" required>

            <p class="my-2 text-lg">Nom d'utilisateur:</p>
            <input type="text" name="username" class="border border-blue-600 mb-3 w-full p-2" required>

            <p class="my-2 text-lg">Mot de passe:</p>
            <input type="password" name="password" class="border border-blue-600 mb-3 w-full p-2" required>

            <br/>
            <input type="submit" value="S'inscrire" class="
                px-4 py-2 my-3
                border rounded-full bg-blue-600 hover:bg-blue-700
                text-white cursor-pointer">
        </form>

        <p class="text-base">Vous avez déjà un compte ?</p>
        <a href="{{ path('app_login') }}" class="text-base text-blue-600">Connectez-vous</a>
    </div>
</div>

{% endblock %}
