{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

{% include '_components/_returnButton.html.twig' %}

<!--Connexion-->
<div class="text-center">
    <p class="text-4xl font-semibold font-oxanium text-customWhite my-3">Inscription</p>

    <form id="login" class="flex flex-col place-items-center">

        <!--Utilisateur-->
        <div class="flex flex-col text-left my-2 w-2/3">
            <p class="text-xl font-oxanium text-customWhite">Email:</p>
            <input type="email" id="email" class="
                h-8 mt-1
                border-2 focus:border-3 border-customRed focus:outline-none rounded-[5px]
                bg-customWhite font-oxanium text-xl" required>
        </div>

        <div class="flex flex-col text-left my-2 mb-6 w-2/3">
            <p class="text-xl font-oxanium text-customWhite">Nom d'utilisateur:</p>
            <input type="text" id="password" class="
                h-8 mt-1
                border-2 focus:border-3 border-customRed focus:outline-none rounded-[5px]
                bg-customWhite font-oxanium text-xl" required>
        </div>

        <!--Mot de passe-->
        <div class="my-1 flex flex-col text-left my-2 w-2/3">
            <p class="text-xl font-oxanium text-customWhite">Mot de passe:</p>
            <input type="password" id="password" class="
                h-8 mt-1
                border-2 focus:border-3 border-customRed focus:outline-none rounded-[5px]
                bg-customWhite font-oxanium text-xl" required>
        </div>

        <div class="my-1 flex flex-col text-left my-2 w-2/3">
            <p class="text-xl font-oxanium text-customWhite">Confirmation:</p>
            <input type="password" id="confirm" class="
                h-8 mt-1
                border-2 focus:border-3 border-customRed focus:outline-none rounded-[5px]
                bg-customWhite font-oxanium text-xl" required>
        </div>

        <input type="button" value="S'inscrire" class="
            w-2/3 h-1/4 my-4 mt-6 h-16
            border-2 border-customWhite rounded-md bg-customRed shadow-md
            text-customWhite text-xl font-semibold font-oxanium">

    </form>

    <p class="font-oxanium text-customWhite">Vous avez déjà un compte ?</p>
    <a href="{{ path('app_login') }}" class="font-oxanium text-customWhite underline">Connectez-vous</a>
</div>

{% endblock %}
